{% extends "base.html.twig" %}

{% block title %}Groups
{% endblock %}

{% block body %}
	<div class="btn-group btn-block" role="group">
		<button style="border-radius: 0" type="button" class="btn btn-sm btn-danger shadow-none" onclick="location.href = '/user'">View Users</button>
		<button style="border-radius: 0" type="button" class="btn btn-sm btn-success shadow-none" onclick="location.href = '/group'">View Groups</button>
	</div>
	<table class="table table-hover table-bordered mb-0">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th style="width:15.5%">Student Count</th>
				<th style="width:35%">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for group in groups %}
				<tr data-toggle="collapse" data-target="{{group.users|length ? '#users' ~ group.id : '' }}" class="{{group.users|length ? '' : 'table-light no-hover'}}">
					<td>{{ group.name }}</td>
					<td>{{ group.users|length }}</td>
					<td>
						<ul class="list-inline text-white m-0 d-md-flex justify-content-left">
							<li class="list-inline-item">
								<a class="btn-sm btn-success" href="/group/update/{{group.id}}">
									<i class="fa fa-edit"> Edit</i>
								</a>
							</li>
                            <li class="list-inline-item">
                                <a class="btn-sm btn-primary" onclick="openModal()">
                                    <i class="fa fa-plus-square"> Add User</i>
                                </a>
                            </li>
                            {% if group.users|length == 0 %}
                            <li class="list-inline-item">
                                <a class="btn-sm btn-danger" href="/group/delete/{{group.id}}">
                                    <i class="fa fa-trash-alt"> Delete</i>
                                </a>
                            </li>
                            {% endif %}
						</ul>
					</td>
				</tr>
				<tr class="collapse no-hover" id="users{{group.id}}">
					<td colspan="3">
						<div class="collapse" id="users{{group.id}}">
							<table class="table">
								<tbody>
									{% for user in group.users %}
										<tr>
											<td>
												<div style="float:left;">
													{{ user.name }}
												</div>
												<div style="float:right">
													<button type="button" class="close text-dark" aria-label="Close" onclick="window.location.href='/group/delete/{{group.id}}/{{user.id}}'">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<!-- Modal -->
	<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script>
    function openModal(group){
        console.log(group);
        $('#groupModal').modal('toggle');
    }
</script>
{% endblock %}
